<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Profile</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>First Name: </ion-label>
    <ion-input value="John"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Last Name: </ion-label>
    <ion-input value="Brown"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password: </ion-label>
    <ion-input type="password" value="password123"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirm Password: </ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

</ion-content>

<ion-footer translucent="true" class="ion-no-border ion-padding">
  <ion-button color="danger" size="block">Update Profile</ion-button>
</ion-footer>
