<ion-header [translucent]="true">
  <ion-toolbar color="danger">

    <ion-buttons slot="start">
      <ion-button [routerLink]="['/profile']">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Schedules
    </ion-title>

    <ion-buttons slot="end">

      <ion-button [routerLink]="['/search']">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

      <ion-button (click)='handleButtonClick()'>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let item of list">
    <ion-card-header>
      <ion-card-title><ion-checkbox color="danger"></ion-checkbox> {{item.title}}</ion-card-title>
      <ion-card-subtitle>{{item.date}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>{{item.description}}</ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" [routerLink]="['/add']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
