<ion-header>
  <ion-toolbar color="danger">
    <ion-title >Add Schedule</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Title:</ion-label>
    <ion-input placeholder="Title here"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Description:</ion-label>
    <ion-textarea placeholder="Description here"></ion-textarea>
  </ion-item>

  <ion-datetime color="danger" size="full"></ion-datetime>
</ion-content>

<ion-footer translucent="true" class="ion-no-border ion-padding">
  <ion-button color="danger" size="block">Add Schedule</ion-button>
</ion-footer>
